<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Sailboat</h1>
        </div>
        <div class="text-body">
            <p>Al igual que la técnica Starfish, la técnica Sailboat es una técnica de retrospectiva y tiene como
                objetivo una mejora continua de productividad y de calidad del producto.</p>
            <p>Para realizarla dividiremos un tablero en cinco parte que se representarán con distintos dibujos:</p>
            <ul>
                <li>Barco</li>
                <li>Viento</li>
                <li>Anclas</li>
                <li>Rocas</li>
                <li>Isla</li>
            </ul>
            <p>El barco simboliza al equipo, el viento, a todo aquello que ayuda al desarrollo, las anclas representan
                todo lo que retrasa o entorpece el desarrollo, las rocas se corresponden con los riesgos y, finalmente,
                la isla se identifica como los objetivos del equipo.</p>
            <p>El equipo identificará y analizará todo aquello que afecte positiva o negativamente al desarrollo y
                creará un plan de acciones para actuar en consecuencia y tratar de mejorar en la siguiente iteración.
            </p>
        </div>
    </div>
</div>