<div class="card-parallax">
    <div class="card-parallax-content">
        <h3>Mecánicas del Tetris clásico:</h3>
        <ul>
            <li>Hay 7 piezas (también llamadas tetriminos) compuestas por 4 cuadrados unidos de forma ortogonal.</li>
            <li>La dimensión del área de juego es libre, pero rectangular.</li>
            <li>El jugador no puede impedir la caída de las piezas, pero puede rotar las piedas y moverlas a la
                izquierda o a la derecha.</li>
            <li>Cuando una línea horizontal se completa, esta desaparece y todas las pizas que están por encima bajan
                una posición.</li>
            <li>La caída de las piezas se acelera progresivamente.</li>
            <li>El juego solo termina cuando una pieza llega a la zona no jugable y otra pieza impide el paso.</li>
        </ul>
        <h3>Mecánicas de variaciones de Tetris:</h3>
        <ul>
            <li>Al eliminar varias líneas seguidas, se consiguen combos.</li>
            <li>Potenciadores: algunos ralentizan la caída, otros permiten decidir cuál será la siguiente pieza, otros
                son como "bombas" que eliminan las piezas que hay en un área, etcétera.</li>
            <li>Modo de juego con partidas de tiempo limitado.</li>
        </ul>
    </div>
</div>
<!-- <div class="gap"></div>
<div class="card-parallax">
    <div class="card-parallax-content">
        <h3>Mecánicas del Tetris clásico:</h3>
        <ul>
            <li>Hay 7 piezas (también llamadas tetriminos) compuestas por 4 cuadrados unidos de forma ortogonal.</li>
            <li>La dimensión del área de juego es libre, pero rectangular.</li>
            <li>El jugador no puede impedir la caída de las piezas, pero puede rotar las piedas y moverlas a la
                izquierda o a la derecha.</li>
            <li>Cuando una línea horizontal se completa, esta desaparece y todas las pizas que están por encima bajan
                una posición.</li>
            <li>La caída de las piezas se acelera progresivamente.</li>
            <li>El juego solo termina cuando una pieza llega a la zona no jugable y otra pieza impide el paso.</li>
        </ul>
        <h3>Mecánicas de variaciones de Tetris:</h3>
        <ul>
            <li>Al eliminar varias líneas seguidas, se consiguen combos.</li>
            <li>Potenciadores: algunos ralentizan la caída, otros permiten decidir cuál será la siguiente pieza, otros
                son como "bombas" que eliminan las piezas que hay en un área, etcétera.</li>
            <li>Modo de juego con partidas de tiempo limitado.</li>
        </ul>
    </div>
</div> -->