<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Mapa de historias de usuario</h1>
        </div>
        <div class="text-body">
            <p>El mapa de historias de ususario es una alterativa para solucionar los problemas de organización de las
                historias de usuario en un backlog plano. Para ello debemos definir nuestros objetivos y sacar ideas de
                muy alto nível.</p>
            <p>Dividiremos un tablero en distintas filas y columnas.</p>
            <p>En la fila superior colocaremos las "Épicas", son las actividades de alto nível extraidas de los
                objetivos previamente definidos. Cada Épica se descompondrá en historias de usuario más pequeñas que se
                dispondrán en forma de columna debajo de estas, estando ordenados de forma descendente en función de sus
                prioridad.</p>
            <p>Para definir la prioridad de las historias de usuario podemos usar métodos como MoSCoW, en la que
                dividiremos las historias en cuatro grupos M(ust), S(hould), C(ould) y W(on't). Must representan las
                historias de ususario imprescindibles, Should, son los requisitos que deberían llevarse a cabo si es
                posible, Could se tratan de requisitos que podrían incluirse si no afecta a nada mas y Won't son
                requisitos que no se implementaran en esta fase.</p>
            <p>Una vez definidas y ordenadas las historias de usuario definiremos un MVP (mínimo producto viable)
                mediante un trazo horizontal a lo largo del mapa de historias de usuario.</p>
        </div>
    </div>
</div>