<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Mapa de personalidad</h1>
        </div>
        <div class="text-body">
            <p>El mapa de personalidad es utilizado para que los miembros de un equipo se den a conocer entre si. Cada
                integrante escribirá datos relevantes sobre él mismo como pueden ser el lugar de nacimiento, las
                aficiones o gustos musicales, y los dará a conocer al resto. De esta manera los compañeros no serán
                completos desconocidos y favorecerá la confianza entre ellos.</p>
        </div>
    </div>
</div>