@import "../../assets/scss/variable.scss";

.footer {
    color: bisque;
    position: relative;
    a {
        text-decoration: none;
        color: bisque;
        font-size: 32px;
         
        i {
            margin-right: 5px;
        }
    }
}

@media (max-width: $large-screen) {
    .footer {
        color: bisque;
        position: relative;
        width: 100%;
        a {
            width: 33%;
            text-decoration: none;
            color: bisque;
            font-size: 32px;
             
            i {
                margin-right: 5px;
            }

            span {
                display: none;
            }
        }
    }
}