<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Niko-Niko</h1>
        </div>
        <div class="text-body">
            <p>La motivación y el bienestar del equipo tiene un gran impacto en el rendimiento del mismo, por lo tanto
                es muy importante mantener un buen estado de ánimo entre sus miembros.</p>
            <p>La técnica Niko-Niko trata de dar valor al estado emocional del equipo llevando un registro diario del
                ánimo de cada uno de sus miembros.</p>
            <p>Para ello cada uno de los integrantes dibuja una carita (feliz, normal o triste) en un calendario al final
                del día dependiendo de como se han encontrado.</p>
        </div>
        <div class="text-img-wrapper">
            <img src="assets/images/NikoNikoSemana25.png">
        </div>
    </div>
</div>