$large-screen: 1200px;

$nav-bar-height: 75px;
$nav-bar-cell-width: 100px;

$dark-color: #111;
$dark-blue-alpha: rgba(26,26,151,.5);
$light-blue-alpha: rgba(114,188,212,.5);
$tranparent: rgba(0,0,0,0);