<div class="card-parallax">
    <div class="card-parallax-content">
        <div class="tab">
            <ul>
                <li class="tab-item" [class.active]="sprint1" (click)="activateSprint1()">
                    <h3>Sprint 1</h3>
                </li>
                <li class="tab-item" [class.active]="sprint2" (click)="activateSprint2()">
                    <h3>Sprint 2</h3>
                </li>
            </ul>
            <div id="sprint-1" class="tab-content" [class.active]="sprint1">
                    <p>Tetrix es una app móvil para Android basada en el popular juego de puzzles.</p>
                    <p>Está desarrollado por varios alumnos del grado de Ingeniería del Software de la Universidad Rey Juan Carlos, para la asignatura de Procesos del Software.</p>
                    <p>Para su elaboración hemos usado una metodología ágil, Scrum, lo que nos ha permitido trabajar como un equipo autoorganizado y multidisciplinar.</p>
                    <p>A continuación explicaremos en líneas generales el proceso de la aplicación:</p>
                    <p>Empezamos el proyecto el 17 de septiembre con la priorización. Aplicando la metodología MoSCoW, le asignamos una prioridad a cada historia de usuario.</p>
                    <p>El 23 de septiembre dividimos las historias de usuario en tareas y realizamos la estimación de éstas mediante Planning Poker. Luego asignamos las tareas entre los integrantes del equipo en función de los requerimientos de las tareas y la capacidad de los miembros. </p>
                    <p>Desde entonces se empezó a desarrollar la aplicación utilizando el entorno Android Studios.</p>
                    <p>El 6 de octubre nos reunimos para realizar la Sprint Retrospective, gracias a la cual inspeccionamos el equipo y creamos un plan de mejora que se pondrá en marcha inmediatamente, en el segundo Sprint.</p>
                    <img src="assets/images/2.jpeg">
                    <img src="assets/images/6.jpeg">
                    <img src="assets/images/3.jpeg">
                    <img src="assets/images/4.jpeg">
                    <img src="assets/images/5.jpeg">
                </div>
                <div id="sprint-2" class="tab-content" [class.active]="sprint2">
                    <div class="youtube-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uBkaLk0v96U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
    </div>
</div>