@import "../../assets/scss/variable.scss";

img {
    width: 20%;
}

.tab {
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
    }

    .tab-item {
        width: 50%;
        display: inline-block;
        text-align: center;
        border-bottom: bisque 1px solid;

        &.active {
            background-image: linear-gradient(to top, $dark-blue-alpha, rgba(0,0,0,0));

            &:hover {
                background-image: linear-gradient(to top, $light-blue-alpha, rgba(0,0,0,0));
            }
        }

        &:hover {
            background-image: linear-gradient(to top, $light-blue-alpha, rgba(0,0,0,0));
        }
    }

    .tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
}

@media (max-width: $large-screen) {
    img {
        width: 50%;
    }
}