<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Starfish</h1>
        </div>
        <div class="text-body">
            <p>Una de las fases más importantes de cada iteración es la <i>retrospectiva</i>. Para poder mejorar de
                forma continua la productividad y la calidad del producto el equipo analiza como ha sido su manera de
                trabajar. Como resultado se guenera un <i>Plan de acciones de mejora</i> para llevar a cabo en la
                siguiente iteración.</p>
            <p>La técnica Starfish consiste en dividir un tablero en cinco areas:</p>
            <ul>
                <li>Keep Doing</li>
                <li>Less Of</li>
                <li>More Of</li>
                <li>Stop Doing</li>
                <li>Start Doing</li>
            </ul>
            <p>El equipo debe identificar cuales son las acciones o situaciones que debe seguir haciendo (Keep Doing),
                hacer menos (Less Of), hacer mas (More Of), parar de hacer (Stop Doing) o empezar a hacer (Start Doing),
                y colocarlas en el tablero.</p>
            <p>Una vez el tablero reune toda la información es el momento de elaborar un plan de respuesta para seguir
                mejorando.</p>
        </div>
        <div class="text-img-wrapper medium-img">
            <img src="assets/images/starfish.png">
        </div>
    </div>
</div>