$large-screen: 1200px;

$nav-bar-height: 75px;
$nav-bar-cell-width: 100px;

$light-color: #eee;
$dark-color: #111;
$main-font-color: bisque;
$ref-color: burlywood;
$dark-blue-alpha: rgba(26,26,151,.5);
$light-blue-alpha: rgba(114,188,212,.5);
$tranparent: rgba(0,0,0,0);