<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Factores de motivación</h1>
        </div>
        <div class="text-body">
            <p>Esta técnica es utilizada para descubrir cuales son las motivaciones y los objetivos de el equipo.</p>
            <p>Para llevarlo a cabo cada uno de los miembros del equipo apunta cuales son sus objetivos personales y
                motivaciones para posteriormente seleccionar aquellas que tengan en común.</p>
        </div>
    </div>
</div>