<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Work expo</h1>
        </div>
        <div class="text-body">
            <p>Esta es una técnica utilizada para reflejar mediante el uso de imagenes u objetos los valores y la forma
                de trabajar del equipo.</p>
            <p>El equipo de forma conjunta escoge una colección de símbolos que consideren que les representa.</p>
        </div>
        <div class="text-img-wrapper">
            <img src="assets/images/work-expo.png">
        </div>
    </div>
</div>