<div class="text-wrapper">
    <div class="text-content">
        <div class="text-title">
            <h1>Kudo</h1>
        </div>
        <div class="text-body">
            <p>El objetivo de la técnica Kudo es mantener motivado al equipo, para ello se instala un caja conocida como
                Kudo Box que permite a los miembros de un equipo dejarse recompensas entre si para, agradecer y
                reconocer el buen trabajo.</p>
            <p><i>Managment 3.0</i> enumera buenas prácticas que se deben seguir a la hora de recompensar al equipo.</p>
            <ul>
                <li>No prometer promesas por adelantado.</li>
                <li>Recompensas pequeñas.</li>
                <li>Recompensar de forma continua.</li>
                <li>Recompensar en público.</li>
                <li>Recompensar el comportamiento, no el resultado.</li>
                <li>Recompensar a los compañeros, no solo a los subordinados.</li>
            </ul>
        </div>
    </div>
</div>