<div class="navbar-wrapper">
    <div class="nav-bar">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/images/logotransparente.png">
            </a>
        </div>
        <div class="menu">
            <a routerLink="tetrix">
                <span>Home</span>
            </a>
            <a routerLink="/">
                <span>Equipo</span>
            </a>
            <a routerLink="/">
                <span>Sprint</span>
            </a>
            <a routerLink="/">
                <span>Tutoriales</span>
            </a>

        </div>
    </div>
</div>