@import "../../assets/scss/variable.scss";

.menu {
    height: 75px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    a {
        float: left;
        text-align: center;
        text-decoration: none;
        color: $main-font-color;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        height: $nav-bar-height;
        width: 50px;
        position: relative;

        &:hover {
            background-image: linear-gradient(to top, $dark-blue-alpha, rgba(0,0,0,0));
        }

        span {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.side-menu {
    display: none;       
}

.social-media {
    position: absolute;
    height: $nav-bar-height;
    right: 0;
    top: 0;

    .social-media-content {
        position: relative;
        height: 100%;
        font-size: 25px;

        a {
            float: left;
            text-align: left;
            text-decoration: none;
            color: $main-font-color;
            font-weight: bold;
            height: $nav-bar-height;
            width: 50px;
            position: relative;

            i {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media (max-width: $large-screen) {
    .menu {
        display: none;
    }

    .side-menu {

    }
    
    .social-media {
        position: absolute;
        height: $nav-bar-height;
        right: 0;
        top: 0;
    
        .social-media-content {
            position: relative;
            height: 100%;
            font-size: 25px;
    
            a {
                float: left;
                text-align: left;
                text-decoration: none;
                color: $main-font-color;
                font-weight: bold;
                height: $nav-bar-height;
                width: 50px;
                position: relative;
    
                i {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
