<div class="navbar-wrapper">
    <div class="nav-bar">
        <div class="logo">
            <a routerLink="/">
                <img class="logo-large" src="assets/images/logotransparente.png">
                <img class="logo-small" src="assets/images/EGDSTwDXkAIj-dl.jpg">
            </a>
        </div>
        <div class="menu">
            <a routerLink="/">
                <span>Home</span>
            </a>
            <a routerLink="team">
                <span>Equipo</span>
            </a>
            <a routerLink="sprint">
                <span>Sprint</span>
            </a>
            <a routerLink="agile">
                <span>Agile</span>
            </a>
            <a routerLink="manual">
                <span>Manual</span>
            </a>
        </div>
        <div class="social-media">
            <div class="social-media-content">
                <a href="https://twitter.com/PuzzleTetrix" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/Group-2-PS/Tetris" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/g2_tetris/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>