<div class="text-wrapper">
    <div class="text-content">
        <div class="text-body">
            <p>Tetrix ha sido creado como un trabajo para la asignagura <i>Procesos del Software</i> con el único
                objetivo de trabajar como un equipo <i>Scrum</i>. Se han puesto en práctica distintas técnicas
                estudiadas en clase, y a continuación hablaremos sobre algunas de ellas.</p>
        </div>
    </div>
</div>

<app-personal-map></app-personal-map>
<app-niko-niko></app-niko-niko>
<app-kudo></app-kudo>
<app-motivational-factors></app-motivational-factors>
<app-user-stories-mapping></app-user-stories-mapping>
<app-work-expo></app-work-expo>
<app-starfish></app-starfish>
<app-sailboat></app-sailboat>