/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variable.scss";

html {
    overflow: hidden;
    background-color: $dark-color;

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: bisque;
        text-align: justify;
        margin: 0;
        height: 100vh;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-y: auto;
        overflow-x: hidden;
        

        .navbar-wrapper {
            background-color: $dark-color;
            height: $nav-bar-height;
            width: 100%;
            position: sticky;
            top: 0;
            -webkit-box-shadow: 0 8px 6px -6px black;
	        -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            margin-bottom: 75px;
            z-index: 10;

            .nav-bar {
                height: 100%;

                img {
                    max-height: $nav-bar-height;
                    margin-left: 25px;
                }
            }
        }

        .card-parallax {
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            transform-style: preserve-3d; 

            &::before {
                content: "";
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-image: url("assets/images/wp2675347-tetris-wallpaper.jpg");
                position: absolute;
                z-index: -1;
                transform: translateZ(-1px) scale(2);
            }

            .card-parallax-content {
                margin: 0 auto;
                padding: 50px;
                width: 60%;
                background: $dark-color;
            }
        }

        .footer {
            background-color: $dark-color;
            width: 100%;
            bottom: 0;
            position: absolute;
            text-align: center;
            padding: 50px;

            a {
                margin: 10px;
                padding: 10px;
            }
        }
    }
}

a {
    &:vertical {
        color: bisque;
    }
}
