/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variable.scss";

html {
    overflow: hidden;
    background-color: $dark-color;

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $main-font-color;
        text-align: justify;
        margin: 0;
        height: 100vh;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-y: auto;
        overflow-x: hidden;        

        .navbar-wrapper {
            background-color: $dark-color;
            height: $nav-bar-height;
            width: 100%;
            position: sticky;
            top: 0;
            -webkit-box-shadow: 0 8px 6px -6px black;
            -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            margin-bottom: 75px;
            z-index: 10;

            .nav-bar {
                height: 100%;

                .logo-small {
                    display: none;
                }

                .logo-large {
                    display: block;
                }

                img {
                    max-height: $nav-bar-height;
                    margin-left: 30px;
                    padding-top: 10px;
                    height: calc(#{$nav-bar-height} - 20px);
                }
            }
        }

        .card-parallax {
            width: 100%;
            box-sizing: border-box;
            transform-style: preserve-3d;
            padding: 55px;
            margin-bottom: 50vh;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url("assets/images/wp2675347-tetris-wallpaper.jpg");
                position: absolute;
                z-index: -1;
                transform: translateZ(-1px) scale(2);
            }

            .card-parallax-content {
                margin: 0 auto;
                padding: 50px;
                width: 60%;
                background: $dark-color;
            }

            &:nth-child(2) {
                &::before {
                    background-image: url("assets/images/wp2675348-tetris-wallpaper.jpg");
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .youtube-wrapper {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            position: relative;
            padding-bottom: 315px;
        
            iframe {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .gap {
            width: 100%;
            height: 300px;
            background-color: $dark-color;
            position: relative;
        }

        .footer {
            background-color: $dark-color;
            width: 100%;
            bottom: 0;
            position: absolute;
            text-align: center;
            padding: 50px;
            margin-top: 5vh;
            a {
                margin: 10px;
                padding: 10px;
            }
        }
    }
}

a {
    color: $ref-color;
    &:vertical {
        color: $main-font-color;
    }
}

@media (max-width: $large-screen) {
    html {
        overflow: hidden;
        background-color: $dark-color;
    
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: $main-font-color;
            text-align: justify;
            margin: 0;
            height: 100vh;
            perspective: 1px;
            transform-style: preserve-3d;
            overflow-y: auto;
            overflow-x: hidden;            
    
            .navbar-wrapper {
                background-color: $dark-color;
                height: $nav-bar-height;
                width: 100%;
                position: sticky;
                top: 0;
                -webkit-box-shadow: 0 8px 6px -6px black;
                -moz-box-shadow: 0 8px 6px -6px black;
                box-shadow: 0 8px 6px -6px black;
                margin-bottom: 10px;
                z-index: 10;
    
                .nav-bar {
                    height: 100%;

                    .logo-small {
                        display: block;
                    }
    
                    .logo-large {
                        display: none;
                    }
    
                    img {
                        max-height: $nav-bar-height;
                        margin-left: 25px;
                    }
                }
            }
    
            .card-parallax {
                width: 100%;
                box-sizing: border-box;
                transform-style: preserve-3d;
                padding: 15px;
                margin-bottom: 90vh;
    
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-image: url("assets/images/wp2675347-tetris-wallpaper.jpg");
                    position: absolute;
                    z-index: -1;
                    transform: translateZ(-1px) scale(2);
                }
    
                .card-parallax-content {
                    margin: 0 auto;
                    padding: 3%;
                    width: 90%;
                    background: $dark-color;
                    z-index: 100;
                }

                &:last-child {
                    margin-bottom: 30vh;
                }
            }

            .youtube-wrapper {
                width: 90%;
                margin: 0 auto;
                margin-top: 50px;
                margin-bottom: 7%;
                padding-bottom: calc((100vw - 30vw) * .5625);
            
                iframe {
                    width: calc(100vw - 30vw);
                    height: calc((100vw - 30vw) * .5625);
                }
            }

            .gap {
                width: 100%;
                height: 300px;
                background-color: $dark-color;
            }
    
            .footer {
                background-color: $dark-color;
                width: 100%;
                bottom: 0;
                position: absolute;
                text-align: center;
                padding: 5px;
                margin-top: 5vh;
                a {
                    margin: 10px;
                    padding: 10px;
                }
            }
        }
    }
    
    a {
        &:vertical {
            color: $main-font-color;
        }
    }    
}

