<div class="card-parallax">
    <div class="card-parallax-content">
        <p>Para el desarrollo de la prática asignaremos distintos roles a los integrantes del grupo para simular un
            equipo scrum.</p>
        <h4>Scrum Master</h4>
        <ul>
            <li>
                Diego Montoto Ramos
            </li>
        </ul>
        <h4>Product Owner</h4>
        <ul>
            <li>
                Enrique Márquez Jiménez
            </li>
        </ul>
        <h4>Equipo de desarrollo</h4>
        <ul>
            <li>
                Marina Fernández Suárez
            </li>
            <li>
                Noelia Martínez Sánchez
            </li>
            <li>
                Jose María Melero Gimenez
            </li>
            <li>
                Miguel Ángel Monreal Velasco
            </li>
            <li>
                Álvaro Justo Rivas Alcobendas
            </li>
        </ul>
    </div>
</div>