<div class="card-parallax">
    <div class="card-parallax-content">
        <p>Tetrix es una app móvil para Android basada en el popular juego de puzzles.</p>
        <p>Está desarrollado por varios alumnos del grado de Ingeniería del Software de la Universidad Rey Juan Carlos, para la asignatura de Procesos del Software.</p>
        <p>Para su elaboración hemos usado una metodología ágil, Scrum, lo que nos ha permitido trabajar como un equipo autoorganizado y multidisciplinar.</p>
        <p>A continuación explicaremos en líneas generales el proceso de la aplicación:</p>
        <p>Empezamos el proyecto el 17 de septiembre con la priorización. Aplicando la metodología MoSCoW, le asignamos una prioridad a cada historia de usuario.</p>
        <p>El 23 de septiembre dividimos las historias de usuario en tareas y realizamos la estimación de éstas mediante Planning Poker. Luego asignamos las tareas entre los integrantes del equipo en función de los requerimientos de las tareas y la capacidad de los miembros. </p>
        <p>Desde entonces se empezó a desarrollar la aplicación utilizando el entorno Android Studios.</p>
    </div>
</div>
