<div class="card-parallax">
    <div class="card-parallax-content">
        <p>Tetrix es una app móvil para Android basada en el popular juego de puzzles.</p>
        <p>Está desarrollado por varios alumnos del grado de Ingeniería del Software de la Universidad Rey Juan Carlos,
            para la asignatura de Procesos del Software.</p>
        <p>Para su elaboración hemos usado una metodología ágil, Scrum, lo que nos ha permitido trabajar como un equipo
            autoorganizado y multidisciplinar.</p>
        <img src="assets/images/2.jpeg">
        <img src="assets/images/6.jpeg">
        <img src="assets/images/3.jpeg">
        <img src="assets/images/4.jpeg">
        <img src="assets/images/5.jpeg">
    </div>
</div>