<div class="card-parallax">
    <div class="card-parallax-content">
        <p>Tetrix es una app móvil para Android basada en el popular juego de puzzles.</p>
        <p>Está desarrollado por varios alumnos del grado de Ingeniería del Software de la Universidad Rey Juan Carlos,
            para la asignatura de Procesos del Software.</p>
        <p>Para su elaboración hemos usado una metodología ágil, Scrum, lo que nos ha permitido trabajar como un equipo
            autoorganizado y multidisciplinar.</p>
        <div class="youtube-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4Y4aDRYKsU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            Puedes descargar una versión alpha de la app haciendo click <app-click-here></app-click-here>.
        </p>
    </div>
</div>